---
title: Parcerias
---

{% assign parceiros = site.data.parceiros %}
{% assign simulacoes = site.data.simulacoes %}

{% assign prop = simulacoes.length %}

<section>
    <div class="container">
        <h3 class="pb-3">Parceiros</h3>
        <div class="row">

            {% for parceiro in parceiros %}
            <div class="col-auto center">
                <a href="{{ parceiro.link }}">
                    <img class="img-fluid img-patro" src="{{ parceiro.image_src }}" alt="{{ parceiro.nome }}">
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<hr>

<!-- Muns Parceiros -->
<section>
    <div class="container text-center">
        <h3 class="pb-3">Simulações Parceiras</h3>
        <div class="row">

            {% for simulacao in simulacoes %}
            <div class="col-auto center">
                <a href="{{ simulacao.link }}">
                    <img class="img-fluid img-parceiro" src="{{ simulacao.image_src }}" alt="{{ simulacao.nome }}">
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<hr />

<section>
    <div class="container">
        <h2 class="titulo-texto">SEJA NOSSO PARCEIRO</h2>
        <p>A simulação representa uma oportunidade de investimento em jovens talentos, dispostos a negociar e aprender,
            mostram
            proatividade única e isso se revela na imensa vontade de empreender e simular.</p>
        <p>Não se trata apenas de um evento de alunos para alunos. A USPMUN tomou para si a responsabilidade de
            construir
            uma simulação que seja referência no Estado de São Paulo, envolvendo professores, a reitoria da Universidade
            de São Paulo, Governo e empresas.</p>
        <p>Sendo assim, é preciso ressaltar: o pano de fundo é composto pelas melhores universidades do país e isso se
            reflete
            em uma oportuna chance de vincular sua marca a um evento de excelência profissional e acadêmica na cidade de
            São Paulo. Venha ser nosso parceiro, nos envie um e-mail e iremos conversar mais sobre o projeto.</p>
    </div>
</section>