---
title: Secretariado 2018
---

<section>
    <div class="container">
        <p>
            O secretariado é composto por seis pessoas, distribuídos em: uma
            Secretaria Geral, dois Secretários Acadêmicos, um Secretário
            Administrativo - Financeiro e dois Secretários Administrativos.
        </p>
    </div>
</section>

{% for secretario in site.data.secretarios %}

{% if invert_class and invert_class == "" %}
{% assign invert_class = "order-md-12" %}
{% else %}
{% assign invert_class = "" %}
{% endif %}

<hr>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 {{ invert_class }}">
                <img class="img-fluid center" src="{{ secretario.img_src }}" alt="{{ secretario.nome }}">
            </div>

            <div class="col-md-8 text-justify pt-3">
                <h4 class="nomeSecretario">{{ secretario.nome }}</h4>
                <h6 class="cargoSecretario"> - {{ secretario.cargo }}</h6>

                {% for paragrafo in secretario.descricao %}
                <p>{{ paragrafo }}</p>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endfor %}
